<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo list</title>
</head>

<body>
  <h1><%= kindOfDay %></h1>
</body>

<ul>

  <% for (let i=0; i<newListItems.length; i++){ %>
  <li><%= newListItems[i] %></li>
  <% }%>

</ul>

<form class="" action="/" method="post">
  <label for="newItem">New todo: </label>
  <input type="text" name="newItem" id="todo" placeholder="Enter new Todo ">
  <button type="submit">Add</button>
</form>

</html>